.container__data__show{
    width: 80%;            
    height: 100%;
}
.back__code__container{    
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;   
}

.back__logo__profile{
    cursor: pointer;
}

.urls__container__data{
    max-width: 70%;    
    height: 500px;
    margin: 0 auto;    
    margin-top: 80px;        
}

.code__url__data{    
    border-color: #000037;
    padding: 10px 25px;
    border-right: 3px solid ;    
    border-bottom: 3px solid ;    
    border-radius: 10px;
    font-size: 25px;
}

.container__delete__code{
    display: flex;
    gap: 30px;
}

.icon__delete{
    width: 45px;
    cursor: pointer;
}

.url__data__inputs{
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;   
    display: flex;  
    flex-direction: column;
    gap: 20px;    
}

.input__with__edit{
    display: flex;
    gap: 10px;
    align-items: center;    
}

.input__url{
    outline: none;        
    background-color: #FFEDBF;
    border: none;
    padding: 10px;
    width: 80%;
    font-size: 20px;
    border-radius: 10px;
}

.edit__input{
    width: 40px;
    cursor: pointer;
}

.urllong{
    font-size: 18px;
}

.buttons__url{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;    
    display: flex;
    justify-content: center;
    gap: 20px;

}

.buttons__url__item{
    background-color: #00005B;
    color: #ffff;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;    
}


.container__loader__adata{
    margin-top: 260px;
}



.title__container{
    text-align: center;
}

.dialog__title{
    
    font-size: 25px;
}


.dialog__detele__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.dialog__acionts{
    display: flex;
    justify-content: space-around;
}

.dialog__text{
    font-size: 18px;
    text-align: center;
}


.bt__actions{
    background-color: #00005B;
    color: #ffff;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer; 
}


@media (max-width:890px) {                
    .edit__input{
        width: 30px;
        cursor: pointer;
    }    
}


@media (max-width:690px) {                
    .edit__input{
        width: 25px;

    }

    .urls__container__data{
        max-width: 100%;    
        margin-top: 50px        ;            
    }

    .back__code__container{    
        
        width: 80%;
        margin: 0 auto;        
     }

     .code__url__data{                    
        font-size: 15px;
    }  

    .back__logo__profile{         
        width: 40px;
    }

    .icon__delete{
        width:30px;        
    }
}



@media (max-width:426px) {                
    .edit__input{
        width: 20px;

    }

     .url__data__inputs{
        width: 100%;        
        margin-top: 60px;                           
    }


     .back__logo__profile{         
         width: 25px;
     }

     .icon__delete{
        width: 25px;        
    }

    .code__url__data{            
        padding: 5px 10px;
        border-right: 2px solid ;    
        border-bottom: 2px solid ;            
        font-size: 12px;
    }   

    .input__with__edit{        
        gap: 5px;        
    }    

    .input__url{               
        padding: 5px;
        width: 250px;
        font-size: 18px;        
    }

    .plus__copy{
        width: 100%;
    }

    .urls__container__data{
        max-width: 80%;    
        margin-top: 50px        ;            
    }

    .buttons__url__item{      
        width: 110px;
        height: 35px;
        font-size: 15px;  
    }
    
}