.urls__container{    
    max-width: 63%;  
    height: 400px;
    margin: 0 auto;
    display: flex;
    gap: 10px;    margin-top: 80px;
    flex-wrap:wrap;    
    align-content: flex-start;
    row-gap: 40px; 
}


.button__code{
    color: #ffff;
    background-color: #000037;        
    width: 120px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;     
    text-decoration: none;       
}


.not__show{
    display: none;
}


@media (max-width:768px) {
    .urls__container{    
        max-width: 90%;   
    }
}


@media (max-width:711px) {    
    .button__code{        
        width: 110px;      
    }    
}


@media (max-width:711px) {    
    .button__code{        
        width: 105x;      
    }    
}



@media (max-width:376px) {    
   
    .button__code{        
        width: 100px;        
    }        
}