.tittle__home{
    text-align: center;
    font-size: 65px;
}

.container__home{
    width: 80%;
    height: 200px;    
    margin: 0 auto;
    margin-top: 60px;

    display: flex;    
    align-items: center;
    flex-direction: column;
    gap: 50px;
    
}

.container__inputs{    
    width: 70%; 
    display: flex;
    gap: 10px;   
}

.input__link{
    width: 710px;    
    height: 70px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #000037;    
    color: #ffff;
    padding: 10px;
}

.input__link::placeholder{
    color: rgba(255, 255, 255, 0.766);
}


.button__get__link{
    height: 70px;    
    width: 150px;
    border-radius: 10px;    
    border-style: none;
    padding: 0 10px ;
    font-size: 18px;
    background-color: #00005B;
    color: #ffff;
    cursor: pointer;
}

.container__short{    
    width: 60%;
    height: 65px;
    background-color: #FFEDBF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
}

.short__url__link{
    font-size: 18px;
    width: 90%;
}

.click__copy{   
    font-size: 18px;
    cursor: pointer;        
}

.click__copy__container{
    position: relative;
    width: 10%;
}

.click__copy::after{
    content: "";
    display: block;
    background: #00005B;
    width: 2px;    
    height: 260%;
    position: absolute;
    right: 100px;    
    top: -16px;
}


@media (max-width:930px) {
    
    .container__home{
        width: 100%;                        
    }

    .button__get__link{
        height: 65px;                    
        font-size: 15px;    
        width: 300px;    
        padding: 0 0;
    }

    
}


@media (max-width:720px) {
    .container__short{    
        height: 50px;
    }

    .short__url__link{        
        font-size: 18px;        
    }

    .click__copy{   
        font-size: 15px;        
    }

    .click__copy__container{
        position: relative;
        width: 12%;
    }
    
    .click__copy::after{        
        right: 55px;    
        top: -8px;
        height: 190%;
    }

}


@media (max-width:625px) {

    .short__url__link{        
        font-size: 15px;        
    }

    .click__copy{   
        font-size: 12px;        
    }
}


@media (max-width:560px) {
    .input__link{        
        height: 50px;        
        font-size: 12px;        
    }
    
    .button__get__link{
        height: 50px;                 
        font-size: 12px;        
    }

    .container__short{    
        width: 65%;
        height: 40px;
    }

    .short__url__link{        
        font-size: 10px;
        width: 100%;
    }

    .click__copy{   
        font-size: 12px;        
    }

    .click__copy__container{
        position: relative;
        width: 18%;
    }
    
    .click__copy::after{        
        right: 55px;    
        top: -8px;
        height: 190%;
    }

    .tittle__home{        
        font-size: 50px;
    }

}   


@media (max-width:420px) {    
    
    .input__link{        
        height: 50px;        
        font-size: 12px;        
    }


    .button__get__link{
        height: 50px;                    
        font-size: 10px;            
    }


    .container__short{    
        width: 70%;
        height: 50px;
    }

    .short__url__link{
        font-size: 10px;
        width: 100%;
    }
    .click__copy{   
        font-size: 12px;        
    }

    .click__copy__container{
        position: relative;
        width: 20%;
    }
    
    .click__copy::after{        
        right: 55px;    
        top: -12px;
        height: 220%;
    }

    
    .button__get__link{        
        padding: 0 1px;
    }

}